
    

<button mat-raised-button >Add</button>
<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  Company_Employees">

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:100%">
  <mat-card-content>
       <h1>{{Employee.FirstName}} {{Employee.LastName}} </h1>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button >Update</button>

      <button mat-raised-button class="footBtn" (click)="openDialog(Employee)" color="warn">Delete</button>
  </mat-card-actions>
</mat-card>

  </mat-grid-tile>
</mat-grid-list>
 
 
  
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Employee web</h1>
    </div>
    
      <button >Employee</button>
      <button >Department</button>
       <button >Projects</button>
    
  </div>
</nav><app-employee></app-employee>
<app-department></app-department>